<%- include ('../partials/head.ejs') %>
  <body>
    <header>
      <%- include ('../partials/header.ejs') %>
    </header>
    <h1>Your collection</h1>
    <% favoritesArray.forEach(series => { %>
      <div class="collectionPage">
      <h2 class="titleShow"><%=series.title%></h2>
      <img src="<%= series.image_url %>" class="imgShow"/>
      <div class="detailShow">
      <p>Genre: <%=series.genres%></p>
      <p><i class="fas fa-star"></i> <%=series.rating%> / 10</p>
      <p>year: <%=series.year%></p>
      <p>Available translations: <%=series.available_translations%></p>
      </div>
      <p class="overviewShow"><%=series.overview%></p>
      <form action='/collection/<%= series.id %>?_method=DELETE' method='POST'>
        <button class="detailButton">Remove from My Collection</button> 
      </form>
    </div>
    <% }) %>
    <footer><%- include ('../partials/footer.ejs') %></footer>
  </body>
</html>